<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="https://komputaciona-projekat.firebaseapp.com/">Komputaciona Projekat</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/jarwis-march">Jarwis March</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/point-triangle">Point Inside Triangle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/points-orientation">Points Orientation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/two-segments">Two Lines Intersections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/simple-polygon">Simple Polygon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/convex-check">Convex Check</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/set-triangle">Set points inside triangle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/multiple-segments">Multiple line segments</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/jarwis-march">Jarwis March dokumentacija</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/point-triangle">Point Inside Triangle dokumentacija</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/points-orientation">Points Orientation dokumentacija</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/two-segments">Two Lines Intersections dokumentacija</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/simple-polygon">Simple Polygon dokumentacija</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/convex-check-dokumentacija">Convex Check dokumentacija</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/set-triangle">Set points inside triangle dokumentacija</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/multiple-segments">Multiple line segments dokumentacija</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  