<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="https://komputaciona-projekat.firebaseapp.com/">Komputaciona Projekat</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/jarwis-march">Konveksni omotač</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/point-triangle">Položaj tačke u odnosu na trougao</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/points-orientation">Orijentacije tačaka</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/two-segments">Provjera presjeka dva segmenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/simple-polygon">Prost poligon i ostali algoritmi vezani za poligon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/convex-check">Provjera konveksnosti četverougla</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/set-triangle">Provjera praznog trougla</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/multiple-segments">Više lin segmenata</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/jarwis-march-dokumentacija">Konveksni omotač dokumentacija</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/point-triangle-dokumentacija">Položaj tačke u odnosu na trougao dokumentacija</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/points-orientation-dokumentacija">Orijentacije tačaka dokumentacija</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/two-segments-dokumentacija">Provjera presjeka dva segmenta dokumentacija</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/simple-polygon-dokumentacija">Prost poligon i ostali algoritmi vezani za poligon dokumentacija</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/convex-check-dokumentacija">Provjera konveksnosti četverougla dokumentacija</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/set-triangle-dokumentacija">Provjera praznog trougla dokumentacija</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/multiple-segments-dokumentacija">Više lin segmenata dokumentacija</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  