<h1>Komponenta Provjere presjeka dva linijska segmenta</h1>
<p>Ova Angular komponenta se koristi za prikaz platna na kojem korisnik može nacrtati dvije linije. Ako se linije presijecaju, komponenta će prikazati obavijest.</p>
<h2>Varijable:</h2>
<ol>
  <li><code>canvasRef</code>: ElementRef objekat koji referencira platno.</li>
  <li><code>kontekst</code>: CanvasRenderingContext2D objekat koji omogućava crtanje na platnu.</li>
  <li><code>tacke</code>: Niz koji sadrži koordinate tačaka za dve linije.</li>
</ol>
<h2>Funkcije:</h2>
<ol>
  <li>
    <code>ngAfterViewInit()</code>: Inicijalizira kontekst platna.
    <ul>
      <li>Ulaz: Nema</li>
      <li>Izlaz: Nema</li>
    </ul>
  </li>
  <li>
    <code>handleClick(dogadjaj: MouseEvent)</code>: Dodaje tačku na platno, crta linije i provjerava da li se linije presijecaju.
    <ul>
      <li>Ulaz: dogadjaj - MouseEvent objekat koji sadrži informacije o kliktanju mišem.</li>
      <li>Izlaz: Nema</li>
    </ul>
  </li>
  <li>
    <code>nacrtajTacku(x: number, y: number)</code>: Crtanje tačke na platnu.
    <ul>
      <li>Ulaz: x, y - koordinate tačke</li>
      <li>Izlaz: Nema</li>
    </ul>
  </li>
  <li>
    <code>nacrtajLiniju(pocetak: [number, number], kraj: [number, number])</code>: Crtanje linije na platnu.
    <ul>
      <li>Ulaz: pocetak, kraj - koordinate početka i kraja linije</li>
      <li>Izlaz: Nema</li>
    </ul>
  </li>
  <li>
    <code>linijePresjecaju(a1: [number, number], a2: [number, number], b1: [number, number], b2: [number, number])</code>: Provjerava da li se dvije linije presijecaju.
    <ul>
      <li>Ulaz: a1, a2, b1, b2 - koordinate početka i kraja dvije linije</li>
      <li>Izlaz: boolean - true ako se linije presijecaju, false ako se ne presijecaju</li>
    </ul>
  </li>
</ol>
<h2>Glavna logika:</h2>
<p>Glavna logika komponente se odvija kroz sljedeće korake:</p>
  <ol>
    <li>Korisnik klika na platno, što pokreće funkciju <code>handleClick</code>.</li>
    <li>Funkcija <code>handleClick</code> dodaje koordinate tačke u niz <code>tacke</code> i poziva funkciju <code>nacrtajTacku</code> za crtanje tačke na platnu.</li>
    <li>Kada korisnik nacrta četiri tačke, funkcija <code>handleClick</code> crta dvije linije pomoću funkcije <code>nacrtajLiniju</code> i provjerava da li se linije presijecaju pozivajući funkciju <code>linijePresjecaju</code>.</li>
    <li>Ako se linije presijecaju, prikazuje se obavijest "Linije se presjecaju". Ako se linije ne presijecaju, prikazuje se obavijest "Linije se ne presjecaju".</li>
    <li>Nakon toga, niz <code>tacke</code> se prazni kako bi se omogućilo crtanje novih linija.</li>
  </ol>