<h4>Segmenti se mogu dodati na jedno od dugmadi ispod ove poruke. Potrebno je izabrati jednu od ponuđenih opcija, koliko segmenata želite generisati. Potom se generiše odabrani broj segmenata i u dnu- lijevo ispod kanvasa ispisuje poruka da li je presjek pronađen.
</h4>
<div>
  <h2>Random Line Segments Intersection</h2>
  <button (click)="generisiNasumicneSegmente(2)">Generiši dva nasumična segmenta</button>
  <button (click)="generisiNasumicneSegmente(20)">Generiši 20 nasumičnih segmenta</button>
  <button (click)="generisiNasumicneSegmente(200000)">Generiši 200,000 nasumična segmenta</button>
  <canvas #canvas width="1400" height="600" style="border: 1px solid;"></canvas>
  <p *ngIf="prijesekPronaden">Presjek pronađen!</p>
</div>
