<h1>Algoritam provjere praznog trougla</h1>
<h5>Za zadati skup tačaka u ravni i trougao u ravni provjeriti da li postoji ijedna tačka od zadatih da se nalazi u unutrašnjosti trougla.</h5>
<h2>Varijable:</h2>
<ul>
    <li>
        <code>canvas</code>: ElementRef objekat koji predstavlja HTML canvas element.
    </li>
    <li>
        <code>ctx</code>: 2D kontekst za crtanje na canvasu.
    </li>
    <li>
        <code>trokutTacke</code>: Niz koordinata vrhova trokuta.
    </li>
    <li>
        <code>nasumicneTacke</code>: Niz nasumičnih tačaka koje će biti generisane.
    </li>
</ul>

<h2>Funkcije:</h2>
<ul>
    <li>
        <code>ngOnInit(): void</code>
        <br>
        <b>Ulaz:</b> Nema ulaznih parametara.
        <br>
        <b>Izlaz:</b> Nema povratne vrijednosti.
        <br>
        Inicijalizuje komponentu, postavlja 2D kontekst i osluškuje događaj klika na canvasu.
    </li>
    <li>
        <code>obradiKlikNaPlatnu(event: MouseEvent): void</code>
        <br>
        <b>Ulaz:</b> <code>event: MouseEvent</code> - Dogаđaj klika na platnu.
        <br>
        <b>Izlaz:</b> Nema povratne vrijednosti.
        <br>
        Obrada klika na platnu, dodaje tačke u niz <code>trokutTacke</code> i crta trokut kada su sva tri vrha postavljena.
    </li>
    <li>
        <code>generisiNasumicneTacke(): void</code>
        <br>
        <b>Ulaz:</b> Nema ulaznih parametara.
        <br>
        <b>Izlaz:</b> Nema povratne vrijednosti.
        <br>
        Generiše 100000 nasumičnih tačaka i provjerava da li se nalaze unutar trokuta ili ne. Boji tačke u crveno ako se nalaze unutar trokuta, a u plavo ako se nalaze izvan.
    </li>
    <li>
        <code>daLiJeTackaUnutarTrokuta(x: number, y: number): boolean</code>
        <br>
        <b>Ulaz:</b> <code>x: number</code> - x koordinata tačke, <code>y: number</code> - y koordinata tačke.
        <br>
        <b>Izlaz:</b> <code>boolean</code> - Vraća <code>true</code> ako je tačka unutar trokuta, <code>false</code> ako nije.
        <br>
        provjerava da li se tačka nalazi unutar trokuta.
    </li>
    <li>
        <code>povrsinaTrokuta([x1, y1]: [number, number], [x2, y2]: [number, number], [x3, y3]: [number, number]): number</code>
        <br>
        <b>Ulaz:</b> <code>[x1, y1]: [number, number]</code> - prva tačka, <code>[x2, y2]: [number, number]</code> - druga tačka, <code>[x3, y3]: [number, number]</code> - treća tačka.
        <br>
        <b>Izlaz:</b> <code>number</code> - Površina trokuta.
        <br>
        Izračunava površinu trokuta.
    </li>
    <li>
        <code>crtajTacku(x: number, y: number, boja: string = 'plava'): void</code>
        <br>
        <b>Ulaz:</b> <code>x: number</code> - x koordinata tačke, <code>y: number</code> - y koordinata tačke, <code>boja: string</code> - boja tačke (opciono, podrazumijevana vrijednost 'plava').
        <br>
        <b>Izlaz:</b> Nema povratne vrijednosti.
        <br>
        Crta tačku na platnu sa zadatim koordinatama i bojom.
    </li>
    <li>
        <code>crtajTrokut(): void</code>
        <br>
        <b>Ulaz:</b> Nema ulaznih parametara.
        <br>
        <b>Izlaz:</b> Nema povratne vrijednosti.
        <br>
        Crtanje trokuta na platnu.
    </li>
    <li>
        <code>ocisticanvas(): void</code>
        <br>
        <b>Ulaz:</b> Nema ulaznih parametara.
        <br>
        <b>Izlaz:</b> Nema povratne vrijednosti.
        <br>
        Briše sve tačke i trokut sa platna.
    </li>
</ul>




<h2>Glavna logika:</h2>
<p>
    Korisnik kreira trokut klikom na canvas. Nakon što su postavljeni svi vrhovi, korisnik može generisati nasumične tačke. Tačke unutar trokuta će biti obojene crveno, dok će tačke izvan trokuta biti obojene plavo. Korisnik može očistiti canvas i početi iznova kada god želi.
</p>