<h1>Komponenta Provjera Konveksnosti</h1>
<p>
Ova Angular komponenta se koristi za provjeru da li je četverougao konveksan ili nije. 
Korisnicima omogućava da crtaju četverougao klikom na platno kako bi kreirali tačke.
</p>
<h2>Interfejs</h2>
<pre><code>interface Tacka 
  x: number;
  y: number;
</code></pre>
<p>
Ovaj interfejs definiše tačku (Tacka) sa x i y koordinatama.
</p>
<h2>Ulazi</h2>
<p>Nema ulaza za ovu komponentu.</p>
<h2>Izlazi</h2>
<p>Nema izlaza za ovu komponentu.</p>
<h2>Glavna Logika</h2>
<div>
Glavna logika ove komponente se sastoji od sljedećih koraka:
<ol>
  <li>Klik na platno za kreiranje do 4 tačke.</li>
  <li>Crtanje tačaka na platnu kako se kreiraju.</li>
  <li>Nakon kreiranja 4 tačke, komponenta provjerava da li je rezultujući četverougao konveksan ili ne.</li>
  <li>Prikazivanje četverougla povezivanjem tačaka.</li>
  <li>Dozvoljavanje korisniku da očisti platno i počne iznova.</li>
</ol>
</div>
<h2>Varijable</h2>
<ul>
  <li>
    <code>referencaPlatna</code>: Referenca na element platna.
  </li>
  <li>
    <code>ctx</code>: 2D rendering kontekst za element platna.
  </li>
  <li>
    <code>tacke</code>: Niz za pohranjivanje tačaka koje je korisnik kreirao.
  </li>
  <li>
    <code>jeKonveksan</code>: Boolean vrijednost koja određuje da li je četverougao konveksan ili ne.
  </li>
</ul>
<h2>Metode</h2>
<ul>
  <li>
    <code>ngAfterViewInit()</code>: Inicijalizira 2D rendering kontekst nakon što je pogled komponente inicijaliziran.
  </li>
  <li>
    <code>naKlikPlatna(event: MouseEvent)</code>: Obrađuje klik događaj na platnu za kreiranje tačaka i provjerava da li je četverougao konveksan ili ne.
  </li>
  <li>
    <code>ocisticanvas()</code>: Briše platno i resetuje niz tačaka i status konveksnosti.
  </li>
  <li>
    <code>nacrtajTacku(tacka: Tacka)</code>: Crtanje tačke na platnu.
  </li>
  <li>
    <code>nacrtajCetvorougaonik(tacke: Tacka[])</code>: Crtanje četverougla na platnu p
  </li>
  <li>
    <code>private provjeraKonveksnosti(tacke: Tacka[]): boolean</code>: Kao ulaz uzima niz tačaka. Sadrži glavnu logiku algoritma i kao izlaz vraća bool vrijednost jeLiKonveksan
  </li>


  