<h2>Dodatni algoritam koji je implementiran izvan orginalne postavke projekta "Framework" - Algoritam koji pronalazi sve moguće tiangulacije konveksnog poligona</h2>
<h4>Kreirajte poligon tako što klikom na kanvas dodajete tačke. Potom završite poligon na dugme Završi poligon. Na kraju je potrebno generisat triangulacije na dugme "Trianguliraj". Potom klikom na kanvas prelazite sa jedne triangulacije na drugu. Refreshom stranice / browser prozora brišete kanvas i novi se generiše.  </h4>
<h4>Radi kapaciteta memorije koju zauzima browser moguće je radidi benchmark test do sa 15 tačaka. Slične vrijednosti su korištene i u radu.</h4>
<h5>Projekat pošto predstavlja zasebnu cjelinu hostan je na linku <a>https://sve-tiangulacije.web.app</a></h5>
<h5>Projekat se nalazi na posebnom github repozitoriju, a na linku  <a>https://github.com/VedadDe/Komputaciona-dodatni-projekti</a> </h5>
<iframe src="https://sve-tiangulacije.web.app/" height="700" width="700" title="Iframe Example"></iframe>
